{% extends "header.html" %} {% block title %}Home - Grim's Cookbook{% endblock
%} {% block content %}
<h1>Welcome to Grim's Cookbook</h1>
<div class="recent-recipes">
  <a href="{{ url_for('add_recipe') }}" class="styled-button">Add New Recipe</a>
  <h2>Top 10 Recently Accessed Recipes</h2>
  <table>
    <thead>
      <tr>
        <th>Score</th>
        <th>Serves</th>
        <th>Recipe Name</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
      <tr>
        <td>{{ recipe.score }}</td>
        <td>{{ recipe.serves }}</td>
        <td>
          <a href="{{ url_for('recipe', recipe_id=recipe['_id']) }}">
            {{ recipe.name }}
          </a>
        </td>
        <td>
          <img
            src="{{ recipe.image }}"
            alt="{{ recipe.title }}"
            style="width: 100px; height: auto"
          />
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
